div {
    width: 500px;
    display: flex;
    flex-flow: row-reverse wrap;
    border: 1px dashed gray;
    background-color: #1ABC9C;
}
div p {
    border: 1px solid gray;
    background-color: #5DADE2;
    margin: 10px;
}
