body {
    margin: 0px;
    padding: 0px;
}
#all{
    width: 1000px;
    height: 3200px;
    margin: 0 auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}
#header {
    height: 100px;
    position: relative;
}
#header h1 {
    width: 320px;
    font-size: 42px;
    font-family: Segoe Script; 
    margin: 0px;
    padding-left:30px;
    line-height: 120px;
    float: left;   
}
#header img {
    float: left;
    width: 100px;
    
}
#header #interface {
    width: 150px;
    height: 100px;
    float: right;
    margin: 10px 20px 0px 0px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
#header #interface img {
    width: 30px;
    height: 30px;
}
#header #interface .KM {
    margin-left: 10px;
    width: 130px;
    height:50px;
}

#banner {
    height:50px;
     border-bottom: 1px solid #ccc;
}
#banner nav {
    width: 700px;
    display: flex;
    float: left;
}
#banner nav a {
    margin: 9px 5px;
    padding: 5px 15px;
    border-radius: 3px 3px 0 0;
    background-color: #B2BABB;
    text-decoration: none;
    color: #ffffff;
}
#banner nav .home {
    background-color: #5D6D7E ;
}
#banner nav a:hover,#banner nav a:focus,#banner nav a:active {
    background-color: #5D6D7E ;
    color: black;
}
#banner #search {
    float: right;
    width: 250px;
    height: 35px;
    margin-top: 9px;
    margin-right:20px;
    background-color: #ffffff;
}
#banner #search input {
    width: 250px;
    height: 26px;
    border-style: outset;
    border-radius: 10px;
     background: url(images/search.png) no-repeat center right;
    background-size: 30px 30px; 
    outline: none;
    padding-left: 10px;
}

#intro {
    height: 200px;
    /* background-color: red; */
}
#intro .intro-text {
    margin-left: 5px;
    width: 900px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    float: left;
}
#intro .intro-click {
    margin-top: 12px;
    margin-right: 25px;
    float: right;
}
#intro .intro-click button{
    background-color: #B2BABB;
    border-style: double;
}
#intro #introPIC{
    margin-top: -5px;
    width: 1000px;
    height: 150px;
    border-top: 1px solid #B2BABB;
    border-bottom: 1px solid #B2BABB;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
#intro #introPIC img{
    width: 160px;
    height: 100px;
}
#intro #introPIC p{
    text-align: center;
    font-size: 14px;
}

#list {
    height: 400px;
    /* background-color: red; */
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}
#list .list-title {
    width: 1000px;
    height: 30px;
    font-weight: normal;
    font-size: 20px;
}
#list .list-title img {
    margin-left: 5px;
    width: 30px;
    height: 30px;
    float: left;
} 
#list .list-title h2{
    font-size: 20px;
    float: left;
    font-weight: normal;
    margin-left: 3px;
    line-height: 5px;
}
#list .ranking {
    width: 300px;
    height: 360px;
    /* background-color:; */
    border: 1px outset #B2BABB;
    border-radius: 5px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}
#list .ranking h1 {
    width: 300px;
    height: 40px;
    font-size: 20px;
    font-weight: normal;
    text-align: center;
    border-radius: 5px;
    margin: 0px;
    background-color: #5D6D7E;
    line-height: 40px;
    color: white;
}
#list .ranking .first{
    width: 300px;
    height: 70px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
#list .ranking .picOne {
    margin-left: 5px;
    width: 40px;
    height: 70px;
}
#list .ranking .picOne img {
    padding-top: 15px;
    width: 40px;
    height: 40px;
}
#list .ranking  .picTwo {
    width: 100px;
    height: 70px;
}
#list .ranking  .picTwo img {
    width: 100px;
    height: 70px;
}
#list .ranking .text {
    width: 120px;
    height: 70px;
}
#list .ranking .text h3{
   text-align: center;
    font-size:14px ;
    margin: 10px;
}

#list .ranking .text p{
    text-align: center;
    color: #E74C3C ;
    font-size: 13px;
    margin: 0px;
}
#list .ranking .second{
    width: 300px;
    height: 80px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
#list .ranking .third{
    width: 300px;
    height: 80px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
#list .ranking .next{
    width: 300px;
    height: 25px;
    text-align: center;
}
#list .ranking .next img {
    width: 30px;
    height: 25px;
}

#evaluation {
    height: 400px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
#evaluation .evaluation-title {
    width: 1000px;
    height: 30px;
}
#evaluation .evaluation-title img {
    margin-left: 5px;
    width: 30px;
    height: 30px;
    float: left;
} 
#evaluation .evaluation-title h2{
    font-size: 20px;
    float: left;
    font-weight: normal;
    margin-left: 3px;
    line-height: 5px;
}
#evaluation #evaluation-pic {
    width: 550px;
    height: 300px;
    border: 1px inset #dddddd;
    border-radius: 10px 0 0 0;
    position: relative;
}
#evaluation #evaluation-pic img {
    width: 550px;
    height: 300px;
    border-radius: 10px 0 0 0;
}
#evaluation #evaluation-pic #hot{
    margin-top: -5px;
    margin-left: -5px;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0px;
    left: 0px;
}
#evaluation #evaluation-pic .fixed-test{
    width: 550px;
    height: 20px;
    margin: 0px;
    line-height: 20px;
    background-color: rgba(204,209,209,0.6);
    position: absolute;
    bottom: 0px;
    left: 0px;
    text-align: center;
}
#evaluation .new-text {
    margin: 0px;
    width: 400px;
    height: 300px;
    border: 1px outset #dddddd;
    border-radius: 0px 10px 0 0;
}
#evaluation .new-text ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}
#evaluation .new-text ul li{
    margin-bottom: 8px;
    padding-left: 30px;
    line-height: 30px;
    height: 30px;
    background: url(images/排行4.png) no-repeat top left;
    background-size: 30px 30px;
    position: relative;
} 
#evaluation .new-text ul li span {
   position: absolute;
   top: 0px;
   right: 0px;
   margin-right: 5px;
    color: #ccc;
}
#evaluation .new-text ul #new-1{
    background: url(images/排行1.png) no-repeat top left;
    background-size: 30px 30px;
    margin-top: 3px;
}
#evaluation .new-text ul #new-2{
    background: url(images/排行2.png) no-repeat top left;
    background-size: 30px 30px;
}
#evaluation .new-text ul #new-3{
    background: url(images/排行3.png) no-repeat top left;
    background-size: 30px 30px;
}
#evaluation .hot-text {
    width: 1000px;
    height: 30px;
    border: 1px outset #dddddd;
    border-radius: 0 0 10px 10px;
}
#evaluation .hot-text p{
    margin: 0 0 0 5px;
    padding: 0px;
    font-size: 14px;
    line-height: 30px;
    width: 70px;
    float: left;
}
#evaluation .hot-text ul{
    width: 910px;
    height: 30px;
    float: right;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}
#evaluation .hot-text ul li {
    float: left;
    margin-left: 10px;
}
#evaluation .hot-text ul li a {
    text-decoration: none;
    line-height: 30px;
    color: black;
}
#evaluation .hot-text ul li a:hover {
    text-decoration: underline;
    color: #D35400;
}

#dynamic {
    height: 500px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
#dynamic .dynamic-title {
    width: 1000px;
    height: 30px;
}
 #dynamic .dynamic-title img {
    margin-left: 5px;
    width: 30px;
    height: 30px;
    float: left;
} 
#dynamic .dynamic-title h2{
    font-size: 20px;
    float: left;
    font-weight: normal;
    margin-left: 3px;
    line-height: 5px;
} 
#dynamic .dynamic-pic-1 {
    width: 320px;
    height: 220px;
    border: 1px outset #dddddd;
    border-radius: 10px 10px 0 0;
    position: relative;
}
#dynamic  p {
    display: inline;
    margin-left: 5px;
    line-height: 40px;
}
#dynamic .dynamic-pic-1 img {
    width: 316px;
    height: 176px;
    padding: 0px 2px;
    border-radius: 10px 10px 0 0;
}
#dynamic .dynamic-pic-1 .pic-small {
    position: absolute;
    bottom: 0px;
    right: 0px;
    margin-right: 5px;
}
#dynamic .dynamic-pic-1 .small{
    margin-top: 5px;
    margin-left: 10px;
    width: 25px;
    height: 25px;
}
#dynamic .dynamic-pic-2 {
    width: 650px;
    height: 220px;
    border-radius: 0 0 10px 10px;
    border: 1px outset #dddddd;
    position: relative;
}
#dynamic .dynamic-pic-2 img {
    width: 210px;
    height: 180px;
    margin-left: 3px;
}
#dynamic .dynamic-pic-2 .pic-small {
    position: absolute;
    bottom: 0px;
    right: 0px;
    margin-right: 5px;
}
#dynamic .dynamic-pic-2 .small{
    margin-top: 5px;
    margin-left: 10px;
    width: 25px;
    height: 25px;
}
#dynamic .dynamic-pic-3 {
    width: 300px;
    height: 220px;
    border-radius: 10px;
    border: 1px inset #dddddd;
    position: relative;
}
#dynamic .dynamic-pic-3 img {
    border-radius: 10px 10px 0 0 ;
    width: 300px;
    height: 180px;
}
#dynamic .dynamic-pic-3 .pic-small {
    position: absolute;
    bottom: 0px;
    right: 0px;
    margin-right: 5px;
}
#dynamic .dynamic-pic-3 .small{
    margin-top: 5px;
    margin-left: 10px;
    width: 25px;
    height: 25px;
}
#dynamic .dynamic-pic-4 {
    width: 300px;
    height: 220px;
    border-radius: 10px 0 10px 0px;
    border: 1px inset #dddddd;
    position: relative;
}
#dynamic .dynamic-pic-4 img {
    width: 300px;
    height: 180px;
    border-radius: 10px 0 0px 0px;
}
#dynamic .dynamic-pic-4 .pic-small {
    position: absolute;
    bottom: 0px;
    right: 0px;
    margin-right: 5px;
}
#dynamic .dynamic-pic-4 .small{
    margin-top: 5px;
    margin-left: 10px;
    width: 25px;
    height: 25px;
}
#dynamic .dynamic-pic-5 {
    width: 350px;
    height: 220px;
    border-radius: 0 10px 0 10px;
    border: 1px outset #dddddd;
    position: relative;
}
#dynamic .dynamic-pic-5 img {
    width: 350px;
    height: 180px;
    border-radius: 0 10px 0 0px;

}
#dynamic .dynamic-pic-5 .pic-small {
    position: absolute;
    bottom: 0px;
    right: 0px;
    margin-right: 5px;
}
#dynamic .dynamic-pic-5 .small{
    margin-top: 5px;
    margin-left: 10px;
    width: 25px;
    height: 25px;
}

#recommend {
    height: 350px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
#recommend .recommend-title {
    height:30px;
    width: 1000px;
}
#recommend .recommend-title  {
    width: 1000px;
    height: 30px;
}
#recommend .recommend-title  img {
    margin-left: 5px;
    width: 30px;
    height: 30px;
    float: left;
} 
#recommend .recommend-title  h2{
    font-size: 20px;
    float: left;
    font-weight: normal;
    margin-left: 3px;
    line-height: 5px;
} 
#recommend .recommend-text-1 {
    width: 490px;
    height: 300px;
    border: 1px inset #dddddd;
    border-radius: 15px;
}
#recommend .recommend-text-2 {
    width: 490px;
    height: 300px;
    border: 1px outset #dddddd;
    border-radius: 15px;
}
#recommend ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    border-radius: 15px;
    background-color: rgba(244, 246, 246,0.4);
}
#recommend ul li {
    height: 28px;
    margin-top: 2px;
    line-height: 28px;
    background: url(images/推荐4.png) no-repeat top left;
    background-size: 22px 22px;
    width: 460px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#recommend ul #tj-1 {
    background: url(images/推荐1.png) no-repeat top left;
    background-size: 22px 22px;
}
#recommend ul #tj-2 {
    background: url(images/推荐2.png) no-repeat top left;
    background-size: 22px 22px;
}
#recommend ul #tj-3{
    background: url(images/推荐3.png) no-repeat top left;
    background-size: 22px 22px;
}
#recommend ul li a {
    margin-left: 30px;
}

#like {
    height: 180px;
    /* background-color: red; */
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
#like .like-title {
    width: 1000px;
    height: 30px;
}
 #like .like-title img {
    margin-left: 5px;
    width: 30px;
    height: 30px;
    float: left;
} 
#like .like-title h2{
    font-size: 20px;
    float: left;
    font-weight: normal;
    margin-left: 3px;
    line-height: 5px;
} 
#like .arrow {
    margin-top: 50px;
    width: 30px;
    height: 30px;
}
#like img {
    width: 180px;
    height: 130px;
}

#service {
    height: 160px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
#service .service-title {
    width: 1000px;
    height: 30px;
}
#service .service-title img {
    margin-left: 5px;
    width: 30px;
    height: 30px;
    float: left;
} 
#service .service-title h2{
    font-size: 20px;
    float: left;
    font-weight: normal;
    margin-left: 3px;
    line-height: 5px;
} 
#service .service-intro {
    width: 190px;
    height: 115px;
}
#service .service-intro img {
    width: 60px;
    height: 60px;
    padding-left:65px;
}
#service .service-intro p {
    margin: 0px;
    text-align: center;
    font-weight: bold;
    /* color: #ccc; */
    font-size: 20px;
}
#service .service-intro p a {
    text-decoration: none;
    color: black;
}
#service .service-intro p a:hover {
    text-decoration: underline;
    color: #D35400;
}

#links {
    height: 80px;
}
#links p {
    margin: 0px;
    width: 1000px;
    height: 30px;
    border-left: 10px solid #58D68D ;
    font-size: 18px;
    padding-left: 10px;
}
#links ul {
    width: 1000px;
    height: 30px;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}
#links ul li{
    float: left;
    margin:0 15.5px;
    line-height: 30px;
}

#select {
    width: 1000px;
    height: 400px;
}
#select h2 {
    margin: 0px;
    text-align: center;
}
#select p {
    margin: 0px;
    text-align: center;
}
#form {
    width: 1000px;
    border: 1px dashed black;
}
#from #name {
    width: 400px;
    height: 40px;
    margin: 0px 50px;
    color: #dddddd;
    border:1px solid black; 
    border-radius: 20px;
    padding-left:10px ;
    outline: none;
}
#from #mail {
    width: 400px;
    height: 40px;
    color: #dddddd;
    border:1px solid black; 
    border-radius: 20px;
    padding-left:10px ;
    outline: none;
}
#from #number {
    margin: 10px 50px;
    width: 400px;
    height: 40px;
    color: #dddddd;
    border:1px solid black; 
    border-radius: 20px;
    padding-left:10px ;
    outline: none;
}
#from #city{
    width: 400px;
    height: 40px;
    color: #dddddd;
    border:1px solid black; 
    border-radius: 20px;
    padding-left:10px ;
    outline: none;
}
#from #specific{
    margin-left: 50px;
    width: 870px;
    height: 200px;
    color: #dddddd;
    border:1px solid black; 
    border-radius: 20px;
    padding-left:10px ;
    outline: none;
}
#from #send {
    margin-top: 5px;
    margin-left:400px ;
    width: 200px;
    height: 30px;
    border: 0px solid black;
    border-radius: 10px;
    background-color: #28B463 ;
    color: white;
    font-size: 16px;
    outline: none;
}
#footer {
    height: 150px;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
#footer ul {
    margin: 0px auto;
    padding: 0px;
    width: 500px;
    height: 30px;
    /* border: 1px dashed black; */
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
#footer ul li {
   line-height: 30px;
}
#footer p {
    margin: 0px;
    width: 1000px;
    height: 30px;
    /* border: 1px dashed black; */
    text-align: center;
}
#footer .footer-pic {
    margin: 0px auto;
    width: 350px;
    height: 40px;
    /* border: 1px dashed black; */
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}
#footer .footer-pic img {
    width: 40px;
    height: 40px;
}
.clear {
    clear: both;
}
 a{
    text-decoration: none;
    color: black;
}
a:hover {
    text-decoration: underline;
    color: #D35400;
}

